@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;800&family=Petit+Formal+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Petit Formal Script", "Kanit", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slick-dots {
  bottom: 0;
}
li.slick-active > div {
  background-color: black !important;
}

.slick-track {
  width: 100%;
}

.override {
  box-sizing: border-box;
  width: 300;
}

.circle {
  display: flex;
  border-radius: 50%;
}
