@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", serif;
}
.slick-dots {
  bottom: 0;
}
li.slick-active > div {
  background-color: black !important;
}

.slick-track {
  width: 100%;
}

.override {
  box-sizing: border-box;
  width: 300;
}
